<div class="bg-neutral-600 sm:flex sm:h-[220px] rounded-lg">
  <picture class="w-full sm:w-[230px] sm:h-full">
    <img
      class="w-full h-64 sm:h-full rounded-t-lg sm:rounded-l-lg sm:rounded-r-none object-cover object-center"
      [ngSrc]="image"
      alt="image"
      width="300"
      height="300"
    />
  </picture>
  <div class="rounded-b-lg space-y-5 p-5 sm:p-3">
    <div class="text-white">
      <h3 class="text-2xl font-bold">{{ nameOfCharacter }}</h3>
      <h6 class="text-base font-medium">
        <span
          class="inline-block h-2 w-2 mr-[0.375rem] bg-green-500 rounded-full"
        ></span>
        {{ status }} - {{ species }}
      </h6>
    </div>
    <div>
      <p class="text-neutral-400 text-base font-medium">Última ubicación:</p>
      <p class="text-white text-lg font-normal">{{ location }}</p>
    </div>
    <div>
      <p class="text-neutral-400 text-base font-medium">Primera aparición:</p>
      <p class="text-white text-lg font-normal">
        {{ firstApparition }}
      </p>
    </div>
  </div>
</div>
